@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    background-color: black;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 3em;
}

.row {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.vintageLogo {
    width: 20%;
}

.card-body {
    background-color: black;
}

#btnPlay,#btnStop {
    color: black;
}

@media screen and (max-width: 480px ) {

    header {
        flex-direction: column;
        font-size: .7em;
           
    }

    .vintageLogo {
        width: 100px;
    }
    
}