@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    background-color: black;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 3rem;
}

.row {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.vintageLogo {
    width: 15%;
}

.card-body {
    background-color: black;
}

#btnPlay {
    color: black;
}